<div class="main">
  <div class="ranking_list">
  <%# （カテゴリー名）に関するカテゴリー一覧 %>
    <% @rankings.each do |ranking| %>
      <%= link_to rank_path(ranking.id) do%>
        <div class="ranking">
          <div class="ranking-img"><%= image_tag "" %></div>
          <div class="ranking-box">
            <div class="ranking-title">
              <%= ranking.title %>
            </div>
            <div class="comment">コメント</div>
            <p class="day"><%= l ranking.created_at %><p>
            <p class="belong_genre"><%= ranking.category.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="category_list">
    <% @categorys.each do |category| %>
      <p><%= link_to category.name, rank_category_index_path(category.id), class: "category" unless category.id == 0%></p>
    <% end %>
  </div>
</div>