<div class="main">
  <div class="ranking_list">
    <% @rankings.each do |ranking| %>
      <%= link_to rank_path(ranking.id) do%>
        <div class="ranking">
          <div class="ranking-img"><%= image_tag "" %></div>
          <div class="ranking-box">
            <div class="ranking-title">
              <%= ranking.title %>
            </div>
            <div class="comment">コメント</div>
            <p class="day"><%= l ranking.created_at %><p>
            <p class="belong_genre"><%= ranking.category.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="category_list">
    <div class="category">
      カテゴリー一覧
    </div>
  </div>
</div>