<div class="new-html">
  <h1>あなただけのランキングを作りましょう！！</h1>
  <p>まずはランキングのタイトルと説明を決めてこのランキングのキャッチコピーを決めましょう！！</p>
  <%= form_with(model: @ranking, local: true) do |f| %>
    <div class="new-ranking-title">
      <p>ランキングのタイトル</p>
      <%= f.text_area :title, class:"ranking-title", maxlength:"40" %>
    </div>
    <div class="new-ranking-text">
      <p>ランキングの説明</p>
      <%= f.text_area :text, rows: "5" %>
    </div>
    <div class="new-ranking-category">
      <p>ランキングのカテゴリー</p>
       <%= f.collection_select :category_id, CategoryId.all, :id, :name, {} %>
    </div>
    <div class="new-ranking-number-make">
      <p>ランキングは何位まで作りますか？</p>
      <%= f.collection_select :rank_number_id, RankNumberId.all, :id, :name, {} %>
    </div>


    <div class="ranks_new">
      <div class="rank">
      <p>1位</p>
      </div>
      <div class="ranks_form">
        <div class="ranks_name">
        <p>名前</p>
        <%= f.text_area :rank_title %>
        </div>
        <div class="ranks_text">
        <p>説明</p>
        <%= f.text_area :rank_text %>
        <%= f.text_area :rank_number_id, value: 1 %>
      </div>
    </div>

    
      <%= f.submit "登録する" ,class:"next" %>
  <% end %>
</div>