<!DOCTYPE html>
<html>
  <head>
    <title>Ranking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="header">
      <%= link_to "free ranking", root_path, class: "header_icon"%>
      <% if user_signed_in? %>
        <div class="devise">
        <span><%= current_user.nickname %></span>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to "投稿する", new_tweet_path, class: "post" %>
        </div>
      <% else %>
        <div class="devise">
          <%= link_to "ログイン", new_user_session_path, class: "devise_button" %>
          <%= link_to "新規登録", new_user_registration_path, class: "devise_button" %>
        </div>
      <% end %>
    </header>
    <div class="header_border">
    </div>
    <%= yield %>
    <footer class="footer">
      <p>
      free ranking
      </p>
    </footer>
  </body>
</html>
